.navbar{
  position: fixed;
  /* top: 0; */
  /* left: 0;
  right: 0; */

  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  /* margin-left: 20%; */
  /* margin-top: 10px; */
  /* border-radius: 30px; */

  /* padding: 20px 80px; */
  /* background: rgba(2,6,23,.9); */
  /* background: #020617; */
  /* backdrop-filter: blur(10px); */
  background:rgba(2,6,23,.8);
  backdrop-filter:blur(15px);
  border-bottom: #004a69 solid ;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: larger;
}

.navbar li {
  cursor: pointer;
  transition: .3s;
}

.navbar li:hover {
  transform: translateY(-2px);
}

/* .navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(15px);
} */
.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 400;
}

.navbar a:hover {
  color: #38bdf8;
}