html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
body::before{
  content:"";
  position:fixed;
  width:500px;
  height:500px;
  background:#38bdf8;
  filter:blur(250px);
  opacity:.08;
  top:-100px;
  right:-100px;
  pointer-events:none;
}